<!-- <mat-grid-list cols = "5"
              *ngIf = "showMe">
  <mat-grid-tile>
    {{Id}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{Title}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{Studio}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{Weekend_Income}}
  </mat-grid-tile>
  <mat-grid-tile>
    <button (click) = "deleteRow()">
      Delete Movie
    </button>
  </mat-grid-tile>
</mat-grid-list> -->